:root{
    --idontknow: repeat(16,37.5px);
}


.wrapper{
    display: grid;
    grid-template-columns: var(--idontknow);
    grid-template-rows: var(--idontknow);

    width: 600px;
    height: 600px;
    border: 2px solid black;
    
}

.wrapper > div{
    background: white;
    
}


.fillerdiv{
    display: none;
}
