body{
   
    background-color: rgb(0, 25, 48);
}

.body{
    font-family: sans-serif;

}

#container{

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;    
}

#startbutton, #startbutton2 {
    text-decoration: none;
    list-style: none;
    padding: 30px 5px;
    border-radius: 19px;
    color: rgb(148, 148, 148);
    background-color: rgb(1, 4, 20);
    box-shadow: 0 0 2px black;
    transition: linear 0.25s;

    
    
}

#startbutton{

    margin-right: 50px;

}


#startbutton:hover, #startbutton2:hover{
    background-color: rgb(255, 255, 235);
    border: none;
    padding: 32px 7px;
    transition-timing-function: ease-in-out;
    box-shadow: 0 0 10px rgb(187, 156, 17);
    color: black;
    }

    #startbutton2:hover{
        box-shadow: 0 0 10px rgb(255, 57, 57);
    }
